{% extends "base.html" %} {% block title %}About{% endblock%}

{% block content %} 
<!-- Page Header Start -->
<div class="container-fluid p-5 mb-5" style="background-color: #6c5336;">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">About</h1>
            <a href="/home" style="color: #cba77e;">Home</a>
            <i class="far fa-square px-2" style="color: #cba77e;"></i>
            <a href="/about" style="color: #cba77e;">About</a>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class=" font-secondary" style="color: #3654a4;" >About</h2>
            <h1 class="display-4 text-uppercase">Welcome To Bake It Easy</h1>
        </div>
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='img/about.jpg') }}" style="object-fit: cover;">
                </div>
            </div>
            <div class="section-title position-relative mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h1 class="mb-4" style="color: #3654a4;">What is BakeItEasy?</h1>
                <p class="mb-5">This website is your culinary compass, guiding you through the delicious and sometimes daunting world of baking. No matter your skill level, dietary needs, or baking aspirations, we're here to transform you from a flour-dusted novice to a confident baking boss.</p>
                <div class="row g-5">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center border-inner mb-4" style="width: 90px; height: 90px; background-color: #36446c;">
                            <i class="fa fa-bolt fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase" >Quick</h4>
                        <p class="mb-0">This website is your express lane to baking bliss, serving up delicious recipes you can whip up in a flash, no culinary marathon required.</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center border-inner mb-4" style="width: 90px; height: 90px; background-color: #36446c;">
                            <i class="fa fa-check-circle fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase" style="margin-left: 20px;">easy</h4>
                        <p class="mb-0">This website is your baking cheat code, turning even complex creations into easy wins with simple steps and clear instructions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Facts Start -->
<div class="container-fluid bg-img py-5 mb-5">
    <div class="container py-5">
        <div class="row gx-5 gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; background-color: #6c364d;">
                        <i class="fa fa-star text-white" ></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-uppercase" style="color: #6c5536;">Experience</h6>
                        <h1 class="display-5 mb-0" data-toggle="counter-up" style="color: #36446c;">12345</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; background-color: #6c364d;">
                        <i class="fa fa-birthday-cake text-white" ></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-uppercase" style="color: #6c5536;">cake specialist</h6>
                        <h1 class="display-5 mb-0" data-toggle="counter-up" style="color: #36446c;">12345</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; background-color: #6c364d;">
                        <i class="fa fa-book text-white" ></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-uppercase" style="color: #6c5536;">bakery recipes</h6>
                        <h1 class="display-5 mb-0" data-toggle="counter-up" style="color: #36446c;">12345</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; background-color: #6c364d;">
                        <i class="fa fa-users text-white" ></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-uppercase" style="color: #6c5536;">happy Clients</h6>
                        <h1 class="display-5 mb-0" data-toggle="counter-up" style="color: #36446c;">12345</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

{% endblock %}