{% extends "base.html" %}

{% block content %} 
<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12" style="max-width: 600px;" >
            <h1 class="display-4 text-uppercase text-white" >Basic Homemade Bread</h1>
            <a href="/">Home</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="/bread">Bread</a>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- ingredients Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title text-start">
                        <h3 class="text-secondary text-uppercase mb-3">Ingredients</h3>
                    </div>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">water</h5>
                                    <p class="mb-4 text-lowercase">2 cups warm water</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">sugar</h5>
                                    <p class="mb-4 text-lowercase">½ cup white sugar</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">dry yeast</h5>
                                    <p class="mb-4 text-lowercase">1 ½ TBSP active dry yeast</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">flour</h5>
                                    <p class="mb-4 text-lowercase">5-6 cups flour  all-purpose flour OR bread flour</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1"></h5>vegetable oil</h5>
                                    <p class="mb-4 text-lowercase">¼ cup vegetable oil</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">salt</h5>
                                    <p class="mb-4 text-lowercase">1 ½ teaspoon salt</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="img/feature.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ingredients End -->

<!-- how to make Start -->
    <div class="container-fluid overflow-hidden py-5 px-lg-0">
        <div class="container feature py- px-lg-0">
            <div class="row g-5 mx-lg-0">
                <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                    <div class="section-title text-start">
                        <h3 class="text-primary text-uppercase mb-3">how to make</h3>
                    </div>
                    <div class="d-flex mb-4 wow fadeInUp align-items-center " data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0 " style="margin-right: 20px;">01</h1>
                        <div class="ms-4">
                            <h5>Combine sugar and water</h5>
                            <p class="mb-0">In a large bowl, or a stand mixer, dissolve 2 tablespoons of the sugar in the warm water. Combine the two and whisk slightly to dissolve the sugar. </p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center" data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0" style="margin-right: 20px;">02</h1>
                        <div class="ms-4">
                            <h5>Add yeast</h5>
                            <p class="mb-0">Stir in yeast. Allow to proof until yeast resembles a creamy foam, about 5 minutes.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items" data-wow-delay="0.3s">
                        <h4 class="display-0 text-secondary mb-0" style="margin-right: 20px; margin-left: 100px;">Tips:</h4>
                        <div class="ms-4">
                            <h5>How to check if the dough is perfectly mixed </h5>
                            <p class="mb-0">The dough should pull away and clean the bowl, sticking on the bottom in a small circle about the size of a quarter. If your dough does this with just 5 cups of flour, do not add more. However, if your dough still sticks to the bowl, add more a couple tablespoons at a time until it cleans the bowl, sticking in just a small circle on the bottom.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center" data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0" style="margin-right: 20px;">03</h1>
                        <div class="ms-4">
                            <h5>Knead the dough</h5>
                            <p class="mb-0">knead dough for 7 minutes. Set a timer as a full knead is important! Place in a well oiled bowl, and turn dough to coat. Cover with a damp cloth. Allow to rise in a warm area until doubled in bulk, about 1 hour.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center" data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0" style="margin-right: 20px;">04</h1>
                        <div class="ms-4">
                            <h5>Punch the dough</h5>
                            <p class="mb-0">Punch dough down. Knead for 1 minute and divide dough in half. Shape into loaves and place into two greased 9×5 inch loaf pans. Allow to rise for 30 minutes, or until dough has risen 1 inch above pans.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center" data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0" style="margin-right: 20px;">05</h1>
                        <div class="ms-4">
                            <h5>Bake</h5>
                            <p class="mb-0">Bake at 350° F (175° C) for 30-40 minutes. Cool, brush with butter and enjoy!</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items" data-wow-delay="0.3s">
                        <h4 class="display-0 text-secondary mb-0" style="margin-right: 20px; margin-left: 100px;">Tips:</h4>
                        <div class="ms-4">
                            <h5>How can you tell if bread is fully baked </h5>
                            <p class="mb-0">I like to use a food thermometer. Mine is digital, so it’s very easy to use. Fully cooked bread will be 190-200 degrees F. Bread recipes that include milk will need to cook until 200 degrees, but since this one doesn’t, I take it out once it reaches 190 degrees. The top will be golden brown.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<!-- how to make End -->

{% endblock %}