{% extends "base.html" %} {% block title %}bread{% endblock%}

{% block content %} 

<!-- Page Header Start -->
<div class="container-fluid p-5 mb-5" style="background-color: #6c5336;">
    <div class="row">
        <div class="col-12" style="max-width: 600px;" >
            <h1 class="display-4 text-uppercase text-white" >How to Bake Bread</h1>
            <a href="/home" style="color: #cba77e;">Home</a>
            <i class="far fa-square px-2" style="color: #cba77e;"></i>
            <a href="/about" style="color: #cba77e;">About</a>
        </div>
    </div>
</div>

<!-- Page Header End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Bread Options</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/basic.jpg') }}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3" >Basic Homemade Bread</h4>
                        <p>Making yeasted bread can be intimidating. Start with this simple recipe and the process will be smooth sailing.</p>
                        <a href="/bread/basicbread" class="btn btn-primary py-2 px-5" style="background-color: #7e6a53;">Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/corn.jpg') }}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Buttery Cornbread</h4>
                        <p>Cornbread is an all-time favorite, but there is no need to let it freak you out. In fact, the popular menu addition is actually a snap to bake up!</p>
                        <a href="/bread/cornbread" class="btn btn-primary py-2 px-5" style="background-color: #7e6a53;">Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/cranberry.jpg') }}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Cranberry Orange Pumpkin Bread</h4>
                        <p>Cranberry Orange Pumpkin Bread is made with all of your favorite fall flavors! Soft, moist!</p>
                        <a href="/bread/cranberrybread" class="btn btn-primary py-2 px-5" style="background-color: #7e6a53;">Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

{% endblock %}