{% extends "base.html" %}

{% block content %} 

<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12" style="max-width: 600px;" >
            <h1 class="display-4 text-uppercase text-white" >How to Bake Cookies</h1>
            <a href="/">Home</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="/about">About</a>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Cookies Options</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/service-4.jpg" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3" >CHOCOLATE BROWNIE CAKE</h4>
                        <p>This chocolate chip cookie recipe makes delicious cookies with crisp edges and chewy middles.</p>
                        <a href="/brownie" class="btn btn-primary py-2 px-5">Recipe</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->

{% endblock %}