{% extends "base.html" %}

{% block content %} 
<!-- Page Header Start -->
<div class="container-fluid p-5 mb-5" style="background-color: #6c5336;">
    <div class="row">
        <div class="col-12" style="max-width: 600px;" >
            <h1 class="display-4 text-uppercase text-white" >red velvet cookies</h1>
            <a href="/home" style="color: #cba77e;">Home</a>
            <i class="far fa-square px-2" style="color: #cba77e;"></i>
            <a href="/cookies" style="color: #cba77e;">Cookies</a>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- ingredients Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title text-start">
                        <h3 class="text-secondary text-uppercase mb-3">Ingredients</h3>
                    </div>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">butter</h5>
                                    <p class="mb-4 text-lowercase">125 g unsalted butter</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">egg</h5>
                                    <p class="mb-4 text-lowercase">1 medium egg</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">brown sugar</h5>
                                    <p class="mb-4 text-lowercase">100 g light brown sugar</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">sugar</h5>
                                    <p class="mb-4 text-lowercase">75 g white granulated sugar</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">vanilla extract</h5>
                                    <p class="mb-4 text-lowercase">1 teaspoons vanilla extract</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">red food colouring</h5>
                                    <p class="mb-4 text-lowercase">1 teaspoons red food colouring</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">flour</h5>
                                    <p class="mb-4 text-lowercase">265 g plain flour</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">cocoa powder</h5>
                                    <p class="mb-4 text-lowercase">15 g cocoa powder</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">white chocolate chips</h5>
                                    <p class="mb-4 text-lowercase">300 g white chocolate chips</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">bicarbonate of soda</h5>
                                    <p class="mb-4 text-lowercase">½ teaspoons bicarbonate of soda</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">baking soda</h5>
                                    <p class="mb-4 text-lowercase">1 ½ teaspoons baking soda</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex align-items">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;">
                                    <i class="fa fa-check fa-1x text-primary"></i>
                                </div>
                                <div class="ms-4 text-uppercase">
                                    <h5 class="mb-1">salt</h5>
                                    <p class="mb-4 text-lowercase">½ teaspoons sea salt</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="{{ url_for('static', filename='img/redvelvet2.jpg') }}" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ingredients End -->

<!-- how to make Start -->
    <div class="container-fluid overflow-hidden py-5 px-lg-0">
        <div class="container feature py- px-lg-0">
            <div class="row g-5 mx-lg-0">
                <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                    <div class="section-title text-start">
                        <h3 class="text-primary text-uppercase mb-3">how to make</h3>
                    </div>
                    <div class="d-flex mb-4 wow fadeInUp align-items-center " data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0 " style="margin-right: 20px;">01</h1>
                        <div class="ms-4">
                            <h5>Beat butter & sugar</h5>
                            <p class="mb-0">Add butter and sugars to a bowl and beat until creamy.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center " data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0 " style="margin-right: 20px;">02</h1>
                        <div class="ms-4">
                            <h5>Add remaining ingredients</h5>
                            <p class="mb-0">Add in egg, vanilla and red food colouring and beat again.Then Add in the plain flour, cocoa powder, baking powder, bicarbonate of soda, and salt and mix it together until a cookie dough is formed!</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center" data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0" style="margin-right: 20px;">03</h1>
                        <div class="ms-4">
                            <h5>Add white chocolate chip</h5>
                            <p class="mb-0">Add white chocolate chips and combine until they're distributed well!
                            </p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center" data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0" style="margin-right: 20px;">04</h1>
                        <div class="ms-4">
                            <h5>Divide cookie dough</h5>
                            <p class="mb-0">Weigh your cookies out into eight cookie dough balls - they're about 115-120g each. If you don't want them as big, feel free to make them smaller.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center" data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0" style="margin-right: 20px;">05</h1>
                        <div class="ms-4">
                            <h5>Freeze cookies dough</h5>
                            <p class="mb-0">Once they're rolled into balls, put your cookie dough in the freezer for at least 30 minutes, or in the fridge for an hour.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center" data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0" style="margin-right: 20px;">06</h1>
                        <div class="ms-4">
                            <h5>Preheat oven</h5>
                            <p class="mb-0">Whilst the cookie dough is chilling, preheat your oven to 180C Fan, or 200C regular.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center" data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0" style="margin-right: 20px;">07</h1>
                        <div class="ms-4">
                            <h5>Bake</h5>
                            <p class="mb-0">Take your cookies out of the freezer and put onto a lined baking tray. Bake the cookies in the oven for 12-14 minutes.</p>
                        </div>
                    </div>

                    <div class="d-flex mb-4 wow fadeInUp align-items-center" data-wow-delay="0.3s">
                        <h1 class="display-3 text-secondary mb-0" style="margin-right: 20px;">08</h1>
                        <div class="ms-4">
                            <h5>Let the cookies cool</h5>
                            <p class="mb-0">Once baked, leave them to cool on the tray for at least 30 minutes, as they will continue to bake whilst cooling.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<!-- how to make End -->

{% endblock %}